[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
sagemaker = "*"
polars = "*"
s3fs = "*"
snowflake = "*"
aws-secretsmanager-caching = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.12"
